<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MyDash - The best dashboard you can imagine!</title>
    <link rel="icon" type="image/png" href="{% static 'img/icon.png' %}" />

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Leckerli+One" rel="stylesheet">
    <script src="https://use.fontawesome.com/e1b3b76849.js"></script>
    <link href="{% static 'css/owfont-regular.css' %}" rel="stylesheet" type="text/css">
    <!-- <link href="css/open-weather-icons.css" rel="stylesheet"> not in the folder, not necessary-->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-nav fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">My<span>Dash</span></a>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="main-bg"></div>
    <div class="content-section">
      {% block content %}
      {% endblock %}
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="{% static 'js/jquery.ui.touch-punch.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>
